@page
@model FineUICore.EmptyProject.RazorForms.Pages.ThemesModel
@{
    ViewBag.Title = "Themes";
    var F = @Html.F();
}

@section head {

    <style>
        /*body {
                    background: none !important;
                    background-color: #000 !important;
                    padding: 0 !important;
                }*/
        body.f-body {
            padding: 10px;
        }

        ul.main {
            list-style-type: none;
            padding: 0;
            margin: 0;
            margin-bottom: 15px;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
        }

            ul.main li {
                display: inline-block;
                margin: 5px;
                border-width: 0;
                padding: 10px;
                border-radius: 10px;
                text-align: center;
                cursor: pointer;
            }

                ul.main li.f-state-hover,
                ul.main li.f-state-active {
                    border-style: solid;
                    border-width: 3px;
                    padding: 7px;
                }

                ul.main li .title {
                    text-align: center;
                    font-size: 13px;
                    margin-top: 10px;
                }

                ul.main li.f-state-active .title {
                    font-weight: bold;
                }

                ul.main li img {
                    width: 125px;
                    border-radius: 5px;
                    box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.2);
                }

                ul.main li.f-state-hover img,
                ul.main li.f-state-active img {
                    box-shadow: none;
                }

        #themecontainer .grouptitle {
            font-size: 16px;
            border-bottom-style: solid;
            border-bottom-width: 1px;
            padding: 5px;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
        }

        #themecontainer .note {
            font-size: 11px;
            margin-left: 10px;
            display: inline-block;
        }

    </style>
}


@section body {

    @{
        var imagesBaseUrl = Url.Content("~/res/images/themes");
        var themesBaseUrl = Url.Content("~/res/themes");
    }

    <div id="themecontainer">
        <div class="grouptitle f-widget-content">
            内置（Pure）
        </div>
        <ul class="main f-widget-content">
            <li>
                <a href="javascript:;">
                    <img src="@imagesBaseUrl/pure_black.png" alt="Pure Black" data-value="Pure_Black" />
                </a>
                <div class="title">Pure Black</div>
            </li>
            <li>
                <a href="javascript:;">
                    <img src="@imagesBaseUrl/pure_green.png" alt="Pure Green" data-value="Pure_Green" />
                </a>
                <div class="title">Pure Green</div>
            </li>
            <li>
                <a href="javascript:;">
                    <img src="@imagesBaseUrl/pure_blue.png" alt="Pure Blue" data-value="Pure_Blue" />
                </a>
                <div class="title">Pure Blue</div>
            </li>
            <li>
                <a href="javascript:;">
                    <img src="@imagesBaseUrl/pure_purple.png" alt="Pure Purple" data-value="Pure_Purple" />
                </a>
                <div class="title">Pure Purple</div>
            </li>
            <li>
                <a href="javascript:;">
                    <img src="@imagesBaseUrl/pure_orange.png" alt="Pure Orange" data-value="Pure_Orange" />
                </a>
                <div class="title">Pure Orange</div>
            </li>
        </ul>
        <div class="grouptitle f-widget-content">
            内置（jQuery UI）
        </div>
        <ul class="main f-widget-content">
            <li>
                <a href="javascript:;">
                    <img src="@imagesBaseUrl/cupertino.png" alt="Cupertino" data-value="Cupertino" />
                </a>
                <div class="title">Cupertino</div>
            </li>
            <li>
                <a href="javascript:;">
                    <img src="@imagesBaseUrl/start.png" alt="Start" data-value="Start" />
                </a>
                <div class="title">Start</div>
            </li>
            <li>
                <a href="javascript:;">
                    <img src="@imagesBaseUrl/dark_hive.png" alt="Dark Hive" data-value="Dark_Hive" />
                </a>
                <div class="title">Dark Hive</div>
            </li>
            <li>
                <a href="javascript:;">
                    <img src="@imagesBaseUrl/flick.png" alt="Flick" data-value="Flick" />
                </a>
                <div class="title">Flick</div>
            </li>
            <li>
                <a href="javascript:;">
                    <img src="@imagesBaseUrl/south_street.png" alt="South Street" data-value="South_Street" />
                </a>
                <div class="title">South Street</div>
            </li>
        </ul>
        <div class="grouptitle f-widget-content">
            自定义
            <span class="note">
                注：自定义主题的背景图片均来自网络，版权归原作者！
            </span>
        </div>
        <ul class="main f-widget-content">
            <li>
                <a href="javascript:;">
                    <img src="@imagesBaseUrl/custom_default.png" alt="Custom Default" data-value="custom_default" />
                </a>
                <div class="title">Custom Default</div>
            </li>
            <li>
                <a href="javascript:;">
                    <img src="@imagesBaseUrl/image_green_rain.png" alt="Image Green Rain" data-value="image_green_rain" />
                </a>
                <div class="title">Image Green Rain</div>
            </li>
            <li>
                <a href="javascript:;">
                    <img src="@imagesBaseUrl/image_green_lotus.png" alt="Image Green Lotus" data-value="image_green_lotus" />
                </a>
                <div class="title">Image Green Lotus</div>
            </li>
            <li>
                <a href="javascript:;">
                    <img src="@imagesBaseUrl/image_blue_sky.png" alt="Image Blue Sky" data-value="image_blue_sky" />
                </a>
                <div class="title">Image Blue Sky</div>
            </li>
            <li>
                <a href="javascript:;">
                    <img src="@imagesBaseUrl/image_purple_fog.png" alt="Image Purple Fog" data-value="image_purple_fog" />
                </a>
                <div class="title">Image Purple Fog</div>
            </li>
        </ul>
    </div>


    <div style="display:none;">
        <!-- 缓存主题使用的背景图片 -->
        <img src="@themesBaseUrl/image_blue_sky/sky.jpg" />
        <img src="@themesBaseUrl/image_green_lotus/lotus.jpg" />
        <img src="@themesBaseUrl/image_green_rain/rain.jpg" />
        <img src="@themesBaseUrl/image_purple_fog/fog.jpg" />
    </div>
}

@section script {
    <script>
        F.ready(function () {
            // 选择主题窗口
            $('#themecontainer li').hover(function () {
                $(this).addClass('f-state-hover');
            }, function () {
                $(this).removeClass('f-state-hover');
            }).click(function () {
                //var imgSrcRegex = /([^\.\/]+)\.png$/.exec(imgSrc);
                var imgNode = $(this).find('img');

                var themeName = imgNode.attr('data-value');
                F.cookie('Theme', themeName, {
                    expires: 100  // 单位：天
                });

                var themeTitle = imgNode.attr('alt');
                F.cookie('Theme_Title', themeTitle, {
                    expires: 100  // 单位：天
                });

                top.window.location.reload();
            });


            // 初始化
            var themeName = F.cookie('Theme');
            if (!themeName) {
                themeName = 'Pure_Black';
            }
            themeName = themeName.toLowerCase();
            var activedNode;
            $('#themecontainer li').each(function () {
                var cnode = $(this);
                if (cnode.find('img').attr('data-value').toLowerCase() === themeName) {
                    cnode.addClass('f-state-active');
                    // 找到选中的节点
                    activedNode = cnode;
                    return false;
                }
            });

            // 滚动到选中的节点
            if (activedNode) {
                $(window).scrollTop(activedNode.position().top - 100);
            }

        });
    </script>
}

